<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title >Sign in</title>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link  rel="stylesheet" th:href="@{/css/CSSforIN.css}"/>
    <link rel="stylesheet" href="../static/css/CSSforIN.css"/>
   </head>

<body>
<div class="all">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        The email or password is incorrect!
    </div>


    <form th:action="@{/login}" method="post" >
        <h1 id="yyy" >Sign in</h1>




        <div >

        <input type="email" id="email" name="email" class="sing" placeholder="Email" required autofocus><br><br><br>

        <input type="password" id="password" name="password" class="sing" placeholder="Password" required><br><br>




<div  id="uuu">
            <input  id ="hoho" type="checkbox" name="remember-me" >
                     <label id="f" for="hoho" >Remember me</label>
</div>

        </div>
        <br>
        <button class="bttn" type="submit">Sign in</button>
         <a type="button" class="bttn" th:href="@{/signup}">Create new account</a>
    </form>


</div>
</body>
</html>