<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>OSTPC Work</title>

</head>
<body>
    <div>
        <p>Choose your speciality</p></div><br>

        <form action="/entry" method="post">
            <select name="speciality">    <!--Select menu-->
                <option>Java developer</option>
                <option>C++ developer</option>
            </select>
            <input type="submit" value="Submit">
        </form>

    </div>
</body>
</html>