<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link  rel="stylesheet" th:href="@{/css/CSSadmin.css}"/>
    <link rel="stylesheet" href="../static/css/CSSadmin.css"/>

</head>
<body type="text" name="body">
<form method="POST" action="form" enctype="multipart/form-data">

    <h2 id="spesialyt">Speciality:  Java developer <b th:text="${session.speciality}"></b><!-- Input param speciality. Get from entry page--></h2><br>


    <input hidden name="speciality" type ="text" th:text="${session.speciality}">

    <p class="ansform">Put your name here:</p><input class="entryform" type="text" name="fname"><br><br>

    <p class="ansform" >Put your surname here:</p><input id="put" class="entryform" type="text" name="sname"><br><br>

    <p class="ansform">Mobile phone:</p><input class="entryform" type="text" name="mobilePhone"><br><br>

    <p class="ansform">Your Email:</p><input class="entryform" type="text" name="email"><br><br>


    <div class="fl_upld">
        <label><input id="fl_inp" type="file" name="file">add resume</label>

    </div>

    <br>
<div id="smalltest">
    Small test:
         <!--Input param test(html code) -->

    <input type="submit" class="bttn" value="Begin test"><br>
</div>
</form>
</body>
</html>