<html>
<head><title>Home Page</title>
    <link  rel="stylesheet" th:href="@{/css/CSSforIN.css}"/>
    <link rel="stylesheet" href="../static/css/CSSforIN.css"/>
    <link  rel="stylesheet" th:href="@{/css/CSSadmin.css}"/>
    <link rel="stylesheet" href="../static/css/CSSadmin.css"/>
</head>
<body>

<div id="alllhome">



    <div id="joi">
<h1>Hello !</h1>
<p>Welcome to <span>Our App</span></p>

    </div>
<a type="button" class="bttn gogof" href="/login">Sing in</a>
<a type="button" class="bttn gogof" href="/entry">Get a job</a>
</div>


</body>
</html>