<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link  rel="stylesheet" th:href="@{/css/CSSforIN.css}"/>
    <link rel="stylesheet" href="../static/css/CSSforIN.css"/>
    <link  rel="stylesheet" th:href="@{/css/LOGO.css}"/>
    <link rel="stylesheet" href="../static/css/LOGO.css"/>
</head>
<body>





    <h2 class="h2h">Hi <span th:utext="${userName}"></span>, this is the home page.</h2><br>
    <div class="buttonc">

    <a type="button" class="bttn" href="/adminpanel">Admin Panel</a>
        <a type="button" class="bttn" href="/hr">HR Panel</a>
        <a type="button" class="bttn" href="/spec">SPEC Panel</a>
        <a type="button" class="bttn" href="/staff">StaffList</a><br><br><br><br>
        <a type="button" class="bttn" href="/">Main page</a>
        <a type="button" class="bttn" href="/login">Sign out</a>


</div>
</body>
</html>